.aqi-chart-wrap{
	height: 800px;
	margin: 0 80px;
	display: flex;
	justify-content: center;
 	align-items: flex-end;
 	justify-content: space-around;
}

.aqi-day{
	width: 10px;
	margin: 0;
	position: relative;
	animation: moveIn 1s;
}

.aqi-week{
	width: 40px;
	margin: 0;
	position: relative;
	animation: moveIn 1s;
}

.aqi-month{
	width: 60px;
	margin: 0;
	position: relative;
	animation: moveIn 1s;
}

.details{
	font-size: 15px;
	color: #767676;
	width: 140px;
	height: 36px;
	position: absolute;
	top: -50px;
	left: -60px;
	border: 1px solid #767676;
	border-radius: 5px;
	padding: 3px;
	z-index: 100;
	background: #fff;
	visibility: hidden;
}