.content{
	padding: 20px;
	background-color: #eee;
	border: #999;
	margin: 20px;
	/*min-height: 415px;*/
    overflow: hidden;
	height: auto;
/*	box-shadow: 5px 5px 5px #7D7F79;
	border-radius: 10px;*/
}

.content .left{
	/*display: block;*/
	float: left;
	width: 200px;
	/*border:1px solid #000; */
}
.content .left p{
	float: right;
	text-align: center;
}

.content article{
	/*display: block;*/
	margin-left: 220px;
	margin-right: 140px;
	width: auto;
	height: auto;
	/*border:1px solid #000; */
}

.content .right{
	/*display: block;*/
	float: right;
	width: 120px;
	/*border:1px solid #000; */
}